/* 
font-family: 'Montserrat', sans-serif;
*/
:root {
  --primari-text-color: #000000;
  --secondari-text-color: #343434;
  --primari-white-color: #ffffff;
  --section-bg-color: #e5e5e5;
  --footer-text-color: #dcdcdc;
  --primari-footer-color: #323232;
  --accent-color: #0f4898;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primari-white-color);
  color: var(--primari-text-color);
}

.container {
  width: 825px;
  margin: 0 auto;

  /* outline: 1px solid tomato; */
}

/* =================================HEADER=================================*/
.nav-container {
  margin: 0 405px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header {
  width: 1920px;
  height: 750px;
  margin: 0 auto;

  background-image: linear-gradient(0deg, rgba(15, 72, 152, 0.6), rgba(15, 72, 152, 0.6)),
    url(../img/first-screen/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  margin-right: 149px;
  padding: 33px 0;

  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;

  color: var(--primari-white-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-list {
  display: flex;

  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 1.23;

  color: var(--primari-white-color);
}

.nav-list li {
  padding-top: 47px;
  padding-bottom: 46px;
}

.nav-list li:not(:last-child) {
  margin-right: 20px;
}

.contact-list {
  margin-left: auto;
  padding: 38px 0 39px 0;

  font-size: 12px;
  line-height: 1.16;
  text-align: right;

  color: var(--primari-white-color);
}
.contact-list li:not(:last-child) {
  margin-bottom: 10px;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 109px;

  width: 100%;
  height: 1px;

  background-color: var(--primari-white-color);
}
/* =================================HEADER AND=================================*/
/* --------------------------------- ПРОЕКТЫ -------------------------------- */

.project .container {
  position: relative;
  padding: 100px 0;
}

.project img {
  margin-left: auto;
}

.project-bg {
  position: absolute;
  top: 0%;
  left: -67%;

  width: 1156px;
  height: 100%;
  background-color: var(--section-bg-color);

  z-index: -1;
}

.project .section-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.66;
}

.project .project-subtitle {
  margin-bottom: 100px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.1875;
}

.project-desc-box {
  position: absolute;
  right: 48%;
  bottom: 13%;
}

.project-desc-box-text {
  width: 428px;
  margin-bottom: 47px;

  background-color: var(--primari-white-color);
  box-shadow: 0px 0px 20px rgba(224, 224, 224, 0.25);
}

.project-desc {
  top: 163px;
  padding: 30px 40px 46px;

  font-family: Montserrat;
  font-size: 13px;
  line-height: 1.69;
}

.project-button {
  display: flex;
  align-items: flex-end;
  margin-right: 313px;
}

.project-button a {
  fill: transparent;
  stroke: #585858;
}

.project-button a:hover {
  stroke: var(--accent-color);
}

.project-button li:not(:last-child) {
  margin-right: 5px;
}
/* ------------------------------- Проэкты and ------------------------------ */

/* --------------------------------- Новости -------------------------------- */
.news .container {
  position: relative;
  padding: 100px 0;
}

.news .section-title {
  margin-bottom: 20px;
}

.news .project-bg {
  position: absolute;
  top: 0%;
  left: 73%;

  width: 785px;
  height: 100%;
  background-color: var(--section-bg-color);

  z-index: -1;
}

.btn-news {
  display: inline-block;
  padding: 13px 26px;

  margin: 10px 0 16px auto;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--primari-white-color);
  background: #0f4898;
}

.news-list {
  display: flex;
  justify-content: space-between;
}

.news-list .news-item {
  width: 255px;
  background: var(--primari-white-color);
  box-shadow: 0px 0px 20px rgba(224, 224, 224, 0.9);
}

.news-card-content {
  padding: 30px 20px 20px;
}

.news-card-content .text,
.news-card-content {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0.05em;
}

.news-card-content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.03em;

  color: #303942;
}

.news-card-content h3,
.news-card-data {
  display: block;
  margin-bottom: 15px;
}

.news-item .btn-news {
  margin: 0 0 30px 18px;
}

.section-title-flex {
  display: flex;
  margin-bottom: 40px;
}
/* ------------------------------- Новости and ------------------------------ */

/* --------------------------------- Footer --------------------------------- */
.footer {
  padding: 40px 0;
  background-color: var(--primari-footer-color);
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;

  color: var(--primari-white-color);
}

.footer-list li:not(:last-child) {
  margin-right: 25px;
}

.adress {
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--footer-text-color);
}
/* --------------------------------- Footer and--------------------------------- */
